.main-list {
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    gap: 20px
}

.application {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000;
    overflow: hidden;
    padding-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 960px) {
        font-size: 20px;
    }
}

.subtitle select{
    height: 32px;
    outline: none;
    color: #000;
}

.application-title {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    span {
        font-size: 20px;
        font-weight: 700;
    }
}

.application-description {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.application-category {
    padding: 0 20px;
    text-decoration: underline;
}

.application-status {
    width: max-content;
    padding: 6px 24px;
    border-radius: 4px;
}

.application-status.new {
    background-color: lightblue;
}

.application-status.done {
    background-color: lightgreen;
}

.application-status.abort {
    background-color: lightcoral;
}

.application-date {
    padding: 0 20px;
}

.application-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu a {
    text-decoration: underline;
    color: #000;
    font-weight: 500;
}

.cat-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cat-list .cat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}