.header {
    width: 100%;
    padding: 24px 0;
    background-color: lightgreen;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.header-menu a{
    color: #000;
    text-decoration: none;
}

.header-menu a:hover{
    text-decoration: underline;
}